<div class="container" style="text-align: center;">
    <h5>Tlf. de contacto 000 000 000</h5><br>
    <h5>Horario de atención al cliente</h5>
    <h5>Lunes a Viernes</h5>
    <h5>De 9:30 a 14:30</h5>
    <h5>De 16:30 a 20:30</h5><br>
    <h5>Email de contacto:</h5>
    <h5>xxxxxxx@gmail.com</h5><br><br><br>

    <form>
        <div class="form-group">
            <label for="Nombre">Nombre:</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre">
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="text" class="form-control" id="Email" name="Email">
        </div>

        <div class="form-group">
            <label for="Consulta">Consulta:</label>
            <textarea class="form-control" rows="5" id="Consulta"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>
