<div class="container" style="text-align: center;">
    <h2>Conocenos</h2>
    <h5>La aplicacion libros va destinada a todo tipo de lectores para puedan buscar y comprar 
        sus libros favoritos en formato físico y puedan disfrutrar de su hobbie sin tener que salir de casa
    </h5><br>
    
    <h5>Version 0.5</h5><br><br><br>

    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/imgEmpleados/CEO.png" alt="" width="350" height="350">
                <div class="carousel-caption">
                  <h3>Alvaro</h3>
                  <p>CEO</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/imgEmpleados/empleada.png" alt="" width="350" height="350">
                <div class="carousel-caption">
                  <h3>Ana</h3>
                  <p>Programadora senior</p>
                </div>   
            </div>
            <div class="carousel-item">
                <img src="assets/images/imgEmpleados/empleado.png" alt="" width="350" height="350">
                <div class="carousel-caption">
                  <h3>Juan</h3>
                  <p>Analista</p>
                </div>   
            </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>

        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

</div>