<div class="container" style="text-align: center;">
    <h2>Conocenos</h2>
    <h5>La aplicacion libros va destinada a todo tipo de lectores para puedan buscar y comprar 
        sus libros favoritos en formato físico y puedan disfrutrar de su hobbie sin tener que salir de casa
    </h5><br>
    
    <h5>Version 0.5</h5><br><br><br>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" >
          <div class="carousel-item active">
            <img src="{{ empleados[0].imagen }}" alt="" width="350" height="350">
            <div class="carousel-caption">
              <h3>{{ empleados[0].nombre }}</h3>
              <p>{{ empleados[0].descripcion }}</p>
            </div>
          </div> 

          <div class="carousel-item " *ngFor="let empleado of empleados | slice:1; let i = index;">
            <img src="{{ empleado.imagen }}" alt="" width="350" height="350">
            <div class="carousel-caption">
              <h3>{{ empleado.nombre }}</h3>
              <p>{{ empleado.descripcion }}</p>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>

        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>

</div>