<div class="pos-f-t">
  <div class="collapse navbar-collapse navbar-right" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <li routerLink="/Inicio"> <span class="link"> Inicio </span></li>
      <li routerLink="/Conocenos"> <span class="link"> Conocenos </span></li>
      <li routerLink="/Contacto"> <span class="link"> Contacto </span></li>
      <li routerLink="/Login" > <span class="link"> Login </span></li> 
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark navbar-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>