<div class="pos-f-t">
    <div class="collapse navbar-collapse navbar-right" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <li routerLink="/Usuario"> <span class="link"> Principal </span></li>
            <li routerLink="/Hechos"> <span class="link"> Pedidos Realizados </span></li>
            <li routerLink="/Cancelados"> <span class="link"> Pedidos Cancelados </span></li>
            <li routerLink="/Configuracion"> <span class="link"> Configuración </span></li>
            <li routerLink="/Inicio"> <span class="link"> Logout </span></li>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

</div>